.titre1{
    color: red;
}
.titre2{
    color: blue;
}
.para1{
    background-color: red;
    font-size: 30px;
}
.para2{
    font-weight: bolder;
    text-decoration: underline;
}
.para3{
    font-weight: bolder;
}
li{
    font-style: italic;
}