* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.the-main-page {
  background: linear-gradient(135deg, #050a1e, #050b21, #070e2a, #091239);
  height: 140vh;
}
.image1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin: 0 0 0 15px;
}
.image1-h2 {
  color: white;
  font-size: large;
}
.extension {
  background-color: rgb(31, 37, 53);
  margin: 20px 120px 20px 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.sun {
  background-color: rgb(47, 53, 76);
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  margin: 10px 20px 10px 10px;
}
.extension-list {
  margin: 40px 120px 10px 120px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.extension-list-h2 {
  color: white;
}
.btns-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.a1 {
  text-decoration: none;
  color: rgb(135, 135, 135);
}
.p1-active {
  background-color: rgb(125, 40, 9);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p1 {
  background-color: rgb(47, 53, 76);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p1:active {
  background-color: rgb(125, 40, 9);
}
.the-first-3card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card1 {
  background-color: rgb(31, 37, 53);
  border-radius: 10px;
  width: 320px;
  height: 150px;
  margin: 10px 0 0 0px;
}
.icon {
  background-color: rgb(192, 217, 188);
  width: 55px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 15px;
}
.card1-head {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.card1-description {
  margin: 15px 0 0 0;
}
.card1-description h4 {
  color: white;
  margin: 0 0 5px 0;
}
.card1-description p {
  color: gray;
  font-size: small;
}
.btns {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 30px 30px 30px 30px;
}
.btns-1 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: 14px 30px 10px 30px;
}
.rmv-btn {
  background: transparent;
  border: 1px solid rgb(126, 126, 126);
  color: rgb(126, 126, 126);
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  cursor: pointer;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-top: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #555;
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  left: -1px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(125, 40, 9);
}

input:checked + .slider::before {
  transform: translateX(24px);
}
.card2 {
  background-color: rgb(31, 37, 53);
  border-radius: 10px;
  width: 320px;
  height: 150px;
  margin: 10px 0 0 10px;
}
.card3 {
  background-color: rgb(31, 37, 53);
  border-radius: 10px;
  width: 320px;
  height: 150px;
  margin: 10px 0 0 10px;
}
.icon2 {
  background-color: rgb(168, 214, 229);
}
.icon3 {
  background-color: rgb(254, 206, 211);
}
.icon4 {
  background-color: rgb(239, 193, 232);
}
.icon5 {
  background-color: rgb(174, 143, 231);
}
.icon6 {
  background-color: rgb(163, 197, 242);
}
.icon7 {
  background-color: rgb(80, 152, 177);
}
.icon8 {
  background-color: rgb(184, 185, 253);
}
.icon9 {
  background-color: rgb(153, 245, 225);
}
.icon10 {
  background-color: rgb(253, 217, 192);
}
.icon11 {
  background-color: rgb(142, 236, 244);
}
.icon12 {
  background-color: rgb(185, 251, 193);
}
.the-second-3card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.the-third-3card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.the-fourth-3card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
